.mainContainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  color: #03dac5;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: #bb86fc;
  margin-top: 48px;
}

.waveButton {
  cursor: pointer;
  margin-top: 24px;
  width: 120px;
  align-self: center;
  padding: 12px;
  border: 0;
  border-radius: 12px;
  font-weight: bold;
  background-color: #03dac5;
  color: #121212;
}

.waveButton:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.waveContainer {
  color: #fff;
  background-color: #212121;
  margin-top: 16px;
  padding: 8px;
  border-radius: 10px;
}

.waveText {
  margin-top: 4px;
}